<div class="card__wrap">
  <div class="card__front">
    <h1>{{line.processingDate}}</h1>
    {{payslip-donut-chart grossPay=line.grossPay netPay=line.netPay}}
    <a href="#" class="payslip__show card__flipme">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 16 16">
        <path d="M11.5,11.999h-7c-0.276,0-0.5,0.224-0.5,0.5c0,0.275,0.224,0.5,0.5,0.5h7c0.275,0,0.5-0.225,0.5-0.5 C12,12.223,11.775,11.999,11.5,11.999z M14-0.002H2c-1.104,0-2,0.896-2,2.001v11.999c0,1.105,0.896,2.001,2,2.001h12 c1.104,0,2-0.896,2-2.001V1.999C16,0.895,15.104-0.002,14-0.002z M15,13.998c0,0.553-0.447,1.001-1,1.001H2 c-0.552,0-1-0.448-1-1.001V1.999c0-0.553,0.448-1,1-1h12c0.553,0,1,0.447,1,1V13.998z M11.5,8.999h-7c-0.276,0-0.5,0.224-0.5,0.5 s0.224,0.5,0.5,0.5h7c0.275,0,0.5-0.224,0.5-0.5S11.775,8.999,11.5,8.999z M11.5,2.999h-7c-0.276,0-0.5,0.224-0.5,0.5 s0.224,0.5,0.5,0.5h7c0.275,0,0.5-0.224,0.5-0.5S11.775,2.999,11.5,2.999z M11.5,5.999h-7c-0.276,0-0.5,0.224-0.5,0.5 s0.224,0.5,0.5,0.5h7c0.275,0,0.5-0.224,0.5-0.5S11.775,5.999,11.5,5.999z" />
      </svg>
      <span>Show payslip breakdown</span>
    </a>
    <a href="#" class="payslip__download">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 16 16">
        <path d="M8.142,11.854C8.245,11.957,8.378,12,8.513,11.996c0.001,0,0.002,0,0.003,0c0.125-0.005,0.238-0.054,0.323-0.134c0.006-0.005,0.014-0.003,0.019-0.008l2.998-3.497c0.197-0.197,0.197-0.517,0-0.714s-0.518-0.197-0.713,0L9,10.143V2.499c0-0.276-0.224-0.5-0.5-0.5c-0.275,0-0.5,0.224-0.5,0.5v7.644L5.858,7.644c-0.197-0.197-0.516-0.197-0.713,0c-0.197,0.197-0.197,0.517,0,0.714L8.142,11.854z M15.5,9.999c-0.275,0-0.5,0.224-0.5,0.5v3.5H2v-3.5c0-0.276-0.224-0.5-0.5-0.5c-0.276,0-0.5,0.224-0.5,0.5v4c0,0.276,0.224,0.5,0.5,0.5h14c0.275,0,0.5-0.224,0.5-0.5v-4C16,10.223,15.775,9.999,15.5,9.999z" />
      </svg>
      <span>Download payslip (.pdf)</span>
    </a>
  </div>
  <div class="card__back">
    <div class="tabular">
      <a href="#" class="tabular__close">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 16 16">
          <path d="M8.696,7.499l6.164-6.165c0.193-0.191,0.193-0.504,0-0.695c-0.191-0.192-0.502-0.192-0.695,0L8,6.803L1.835,0.639c-0.192-0.192-0.504-0.192-0.696,0c-0.192,0.191-0.192,0.504,0,0.695l6.165,6.165L1.14,13.663c-0.192,0.192-0.192,0.504,0,0.696c0.192,0.192,0.503,0.192,0.696,0L8,8.194l6.164,6.165c0.193,0.192,0.504,0.192,0.695,0c0.193-0.192,0.193-0.504,0-0.696L8.696,7.499z" />
        </svg>
      </a>
      <h3 class="tabular__sub tabular__sub--title">19 March 2015</h3>
      <h3 class="tabular__sub tabular__sub--highlight">Payments</h3>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">Hours () Bartender 40/5 120 @ &pound;7.50</dt>
        <dd class="tabular__value">&pound;900.00</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">Tips () Bartender 40/5 1 @ &pound;123.45</dt>
        <dd class="tabular__value">&pound;123.45</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide"><strong>Total Payments</strong></dt>
        <dd class="tabular__value"><strong>&pound;1,023.45</strong></dd>
      </dl>
      <h3 class="tabular__sub">Deductions</h3>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">Tax</dt>
        <dd class="tabular__value">&pound;37.80</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">NI</dt>
        <dd class="tabular__value">&pound;43.25</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide"><strong>Total Deductions</strong></dt>
        <dd class="tabular__value"><strong>&pound;81.05</strong></dd>
      </dl>
      <h3 class="tabular__sub">This Period Totals</h3>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">Total Gross Pay</dt>
        <dd class="tabular__value">&pound;1,023.45</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">Gross For Tax</dt>
        <dd class="tabular__value">&pound;1,023.45</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">Earnings for National Insurance</dt>
        <dd class="tabular__value">&pound;1,023.45</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">Employer Pension Contribution</dt>
        <dd class="tabular__value">&pound;00.00</dd>
      </dl>
      <h3 class="tabular__sub">Year To Date Totals</h3>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">Total Gross Pay</dt>
        <dd class="tabular__value">&pound;1,023.45</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">Gross For Tax</dt>
        <dd class="tabular__value">&pound;1,023.45</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">Earnings for National Insurance</dt>
        <dd class="tabular__value">&pound;1,023.45</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">Employer Pension Contribution</dt>
        <dd class="tabular__value">&pound;00.00</dd>
      </dl>
      <h3 class="tabular__sub">Misc</h3>
      <dl class="tabular__row">
        <dt class="tabular__key">Week</dt>
        <dd class="tabular__value">1</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">Employee No.</dt>
        <dd class="tabular__value">123456</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">Tax Code</dt>
        <dd class="tabular__value">1000L M1</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">Etc</dt>
        <dd class="tabular__value">Etc</dd>
      </dl>
    </div>
  </div>
</div>