<div class="swipe__wrap" style={{wrapStyles}}>
  {{yield}}
</div>
{{swipe-tabs
  collection=collection
  selectedIndex=selectedIndex
  tabPropertyKey=tabPropertyKey
  setSelectedIndex="setSelectedIndex"
}}
