.input-field {
  margin-top: rem(16);
  margin-bottom: rem(16);

  position: relative;

  .input-element {
    background-color: $color-white;
    height: 60px;
    width: 100%;

    color: $color-grey-darkest;

    padding-left: rem(16);
    padding-top: 20px;
    border: none;
    @include border-top-radius(2px);
    border-bottom: 2px solid;
    border-color: inherit;
    @include transition(all 500ms ease);
  }

  & input:focus {
    background-color: $color-grey-lighter;
  }

  .not-focused {
    position: absolute;

    left: rem(16);
    bottom: 11px;

    color: $color-grey-dark;

    @include transition(all 500ms ease);
  }

  .focused {
    font-size: 12px;
    bottom: 35px;
  }

  &-clear-button {
    position: absolute;

    right: 15px;
    top: 16px;

    cursor: pointer;

    .svg-icon {
      height: 8px;
      width: 8px;

      svg path {
        stroke: $color-grey-darkest;
        stroke-width: 2px;
      }
    }
  }
}