.swipe--tablink {
  cursor: pointer;
  display: inline-block;
  height: 2.5rem;
  line-height: 2.5rem;
  color: $color-grey;
  text-align: center;

  // TODO
  // this shouldn't be here
  // as it is ess specific
  &.-rota {
      @include flex(1 0 114px);
  }
  &.-payslip {
      @include flex(1 0 60px);
  }
  // end TODO

  &.-active {
      position: relative;
      color: $color-grey-darkest;

      &:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          height: rem(4);
          @include border-radius(rem(2));
      }
  }
}
