.header {
	text-align:center;
	width:100%;
	border-bottom:1px solid $color-grey-light;
	line-height:rem(32);
	background:$color-white;
	position:relative;
	z-index:1;
}

.header--brand {
  height:rem(40);
  @include rem(padding, 12, 16);
  @include respond(640) {
    position:absolute;
  };
}

.header--brand .fourth-logo {
  height:rem(24);
  width: auto;
}

