.swipe {
    background: $color-grey-lightest;
    border-bottom: 1px solid $color-grey-light;
    width: 100%;
    overflow: hidden;
    position: relative;
    &__wrap {
        width: 92340px;
        //needs to be dynamic
        position: relative;
        visibility: hidden;
        transform: translate3d(0, 0, 0);
        @include rem(margin, 16, 24);
        @include clearfix;
    }
    &__pie {
        height: 0;
        padding-bottom: 100%;
        position: relative;
    }
    &--actions {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    &--close {
        position: absolute;
        top: 0;
        right: 0;
        margin: -1px;
        border-radius: 0;
    }
    &--moving {
        @include transition(all 0.25s ease-out);
    }
    &--dragging {
        @include transition(none);
    }
    &__tabs {
        width: 100%;
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        font-size: rem(13);
        background: $color-grey-lightest;
        border-top: 1px dotted $color-grey-light;
        @include display(flex);
        position: relative;
        z-index: 1;
    }
    &__tablink {
        cursor: pointer;
        display: inline-block;
        height: 2.5rem;
        line-height: 2.5rem;
        color: $color-grey;
        text-align: center;
        &--rota {
            @include flex(1 0 114px);
        }
        &--payslip {
            @include flex(1 0 60px);
        }
        &--active {
            position: relative;
            color: $color-grey-darkest;
            &:after {
                content: "";
                position: absolute;
                top: 0;
                right:0;
                left: 0;
                height: 4px;
                @include border-radius(2px);
            }
        }
    }
}
