.dropdown-field {
  margin-top: rem(16);
  margin-bottom: rem(16);

  position: relative;

  .x-select {
    background-color: $color-white;
    height: 60px;
    width: 100%;

    padding-left: rem(16);
    padding-top: 20px;
    border: none;
    @include appearance(none);
    @include border-bottom-radius(0);
    @include border-right-radius(0);
    @include border-top-radius(2px);
    border-bottom: 2px solid;
    border-color: inherit;
    outline: none;
    @include transition(all 500ms ease);
  }

  .x-select:focus {
    background-color: $color-grey-lighter;
    @include transition(all 500ms ease);
  }

  .not-focused {
    position: absolute;

    left: rem(16);
    bottom: 11px;

    color: $color-grey-dark;

    @include transition(all 500ms ease);
  }

  .focused {
    font-size: 12px;
    bottom: 35px;
  }

  &-chevron {
    position: absolute;

    right: 15px;
    top: 16px;

    @include transition(all 500ms ease);

    .svg-icon {
      height: 8px;
      width: 8px;

      svg path {
        stroke: $color-grey-darkest;
        stroke-width: 2px;
      }
    }
  }

  &-chevron-rotate {
    top: 20px;
    @include transform(rotate(90deg));
    @include transition(all 500ms ease);
  }
}