<div class="edit__form">
  {{#dropdown-field selectedItem=editInfo.selectedTitle itmesList=editInfo.titles placeholder='Title'}}{{/dropdown-field}}
  {{#input-field value=employee.firstNames type='text' placeholder='First Name' inputId='firstName'}}{{/input-field}}
  {{#input-field value=eidtInfo.name.middleName type='text' placeholder='Middle Name(s)' inputId='middleName'}}{{/input-field}}
  {{#input-field value=employee.surname type='text' placeholder='Last Name' inputId='lastName'}}{{/input-field}}
</div>
