<div class="edit-name__form">
  {{dropdown-field selectedItem=model.personTitle itemsList=titles placeholder=(t 'details.employee.title') model=model}}
  {{input-field value=model.firstNames type='text' placeholder=(t 'details.employee.firstName') inputId='firstNames' mandatory=true model=model}}
  {{input-field value=model.middleName type='text' placeholder=(t 'details.employee.middleName') inputId='middleName' model=model}}
  {{input-field value=model.surname type='text' placeholder=(t 'details.employee.lastName') inputId='surname' mandatory=true model=model}}
</div>
