<div class="edit-name__form">
  {{dropdown-field selectedItem=model.selectedTitle itemsList=titles placeholder=(t 'details.employee.title')}}
  {{input-field value=model.firstNames type='text' placeholder=(t 'details.employee.firstName') inputId='firstName'}}
  {{input-field value=model.middleNames type='text' placeholder=(t 'details.employee.middleName') inputId='middleName'}}
  {{input-field value=model.surname type='text' placeholder=(t 'details.employee.lastName') inputId='lastName'}}
</div>
