.details {
	&__employee, &__employer {
		@include flex(1);
		background:$color-white;
		border:1px solid $color-grey-light;
		margin:1rem;
		padding:1rem;
	}
	@include respond(640) {
		@include display(flex);
		height:100vh;
		padding-top:rem(48);
		position: absolute;
		top:0;
		width:100%;
		&__employee {
			margin-left: 0.5rem;
		}
		&__employer {
			margin-right: 0.5rem;
		}
	}


}
