<div class="error-page">
  <header class="error-header">
    <div class="error-header--title"></div>
  </header>
  <div class="error-body">
    <h2 class="error-header--sub-title">{{t 'errorSplash.noPermission'}}</h2>
  </div>
</div>
