.swipe--tabs {
  width: 100%;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  font-size: rem(13);
  background: $color-grey-lightest;
  border-bottom: 1px dotted $color-grey-light;
  @include display(flex);
  position: relative;
  z-index: 1;
}
