.edit {
  @include position(absolute, rem(40) 0 0 0);
  background-color: $color-grey-lightest;

  &-header {
    @include display(flex);
    @include align-items(center);
    height: rem(40);

    &__title {
      @include flex(1 0 0);
      text-align: center;
    }

    &-save-btn {
      @include position(absolute, auto 0 0 0);
      height: rem(40);
      width: 100%;
    }
  }

  &__form {
    @include border-width(rem(1));
    @include border-style(solid);
    @include border-color($color-grey-lighter);
    @include padding(rem(16));
    background-color: $color-white;
  }
}

.tabbed-container {
  @include display(flex);
  @include align-items(stretch);
  border-bottom: 1px solid $color-grey-light;
  cursor: pointer;
  height: rem(40);

  &__tab {
    @include flex(1 0 auto);
    @include position(relative);
    @include transition(all 500ms ease);
    color: $color-grey;
    line-height: rem(40);
    text-align: center;

    &::after {
      @include position(absolute, auto 0 0 0);
      @include border-radius(rem(2));
      @include transition(all 500ms ease);
      @include display(block);
      content: '';
      height: rem(4);
    }

    &--active {
      @include transition(all 500ms ease);
      color: $color-grey-darkest;

      &::after {
        @include transition(all 500ms ease);
        background-color: $color-grey-darker;
      }
    }

    &__content {
      padding: rem(16);
    }
  }
}
