<div class="loading-page -open -loader">

    <div class="[ modal -white -open ] loading-loader">

        <div class="modal-container">
            <div class="loading-container">
                <div class="loader">

                    <span class="spinner">
                        <span class="left">
                            <span class="solid"></span>
                        </span>
                        <span class="right">
                            <span class="solid"></span>
                        </span>
                    </span>

                    <small class="loader-title">Loading &hellip;</small>

                </div>

            </div>
        </div>
    </div>
</div>
