<div class="loading-page -open -loader">

    <div class="[ modal -white -open ] loading-loader">

        <div class="modal-container">
            <div class="loading-container">

              {{loading-spinner}}

            </div>
        </div>
    </div>
</div>
