<div class="details">

  <div class="details__employer">

    <div class="tabular">
      <h2 class="tabular__heading">Employer details</h2>
      <dl class="tabular__row">
        <dt class="tabular__key">Name</dt>
        <dd class="tabular__value">Fourth Ltd</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">Unit</dt>
        <dd class="tabular__value">London</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">Address</dt>
        <dd class="tabular__value tabular__value--wide">90 Long Acre
          <br>Covent Garden
          <br>London
          <br>WC2E 9RA</dd>
      </dl>

      <dl class="tabular__row">
        <dt class="tabular__key">Phone</dt>
        <dd class="tabular__value">01234 567 890</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">Fax</dt>
        <dd class="tabular__value">01234 567 890</dd>
      </dl>
    </div>

  </div>

  <div class="details__employee">

    <div class="tabular">
      <h2 class="tabular__heading">Employee details</h2>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">Name</dt>
        <dd class="tabular__value">Fred Flintstone</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">Address</dt>
        <dd class="tabular__value tabular__value--wide">301 Cobblestone Way
          <br>Bedrock
          <br>Louisiana
          <br>70777</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">Date of birth</dt>
        <dd class="tabular__value">1000BC</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">Home</dt>
        <dd class="tabular__value">01234 567 890</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">Mobile</dt>
        <dd class="tabular__value">01234 567 890</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">Work email</dt>
        <dd class="tabular__value tabular__value--wide">fred.flintstone@fourth.com</dd>
      </dl>
    </div>
  </div>

</div>