<h1>{{moment week.start format="DD MMM"}} - {{moment week.end format="DD MMM"}}</h1>
{{#each shifts as |shiftDay index|}}
  {{rota-day
     day=shiftDay
     selectedShift=selectedShift
     selectTarget=selectTarget
     dayIndex=index
  }}
{{/each}}