{{rota-hour-bars}}
<h1 class="card--title -center">{{week.formattedDateRange}}</h1>
{{#each shifts as |shiftDay index|}}
  {{rota-day
     day=shiftDay
     selectedShift=selectedShift
     selectTarget=selectTarget
     dayIndex=index
  }}
{{/each}}