{{! rota-hour-bars dayStart=week.meta.dayStartAsMinutes dayEnd=week.meta.dayEndAsMinutes }}
<h1 class="card--title -center">{{week.formattedDateRange}}</h1>
{{#each shifts as |shiftDay index|}}
  {{rota-day
     day=shiftDay
     selectedShift=selectedShift
     selectedOverlap=selectedOverlap
     selectTarget=selectTarget
     dayIndex=index
  }}
{{else}}
  <div class="rota-notice">
    <div class="rota-message">{{t "rotas.noRotasForWeek"}}</div>
  </div>
{{/each}}