<h1>{{moment week.start format="D MMM"}} - {{moment week.end format="D MMM"}}</h1>
{{#each shifts as |shiftDay index|}}
  {{rota-day
     day=shiftDay
     selectedSegmentIndex=selectedSegmentIndex
     dayIndex=index
     selectedDayIndex=selectedDayIndex
     weekIndex=weekIndex
     selectedWeekIndex=selectedWeekIndex
     selectTarget=selectTarget
  }}
{{/each}}