<div class="edit-employee-header brand-bg">
  <a id="close-modal" {{action "closeModal"}}>
    {{svg-icon name="chevron-left"}}
  </a>
  <div class="edit-employee-header__title">
    My Details
  </div>
</div>
{{tabbed-container tabs=tabContainerConfig}}
