<div class="edit-employee-header brand-bg">
  <a id="close-modal" {{action "closeModal"}}>
    {{svg-icon name="chevron-left"}}
  </a>
  <div class="edit-employee-header__title">
    My Details
  </div>
  <div class="">
    <button id="save-button-to-fix" {{action "saveAction"}}>
      Save
    </button>
  </div>
</div>
{{tabbed-container tabs=tabContainerConfig}}
