$tool-tip--bg:    rgba($color-grey-dark, .9);
$tool-tip--color: $color-white;
$tool-tip--icon:  $color-grey-light;

.tool-tip {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
}

.tool-tip .-active {
  display: block;
}

.tool-tip--content {
  display: none;

  width: auto;
  white-space: nowrap;

  padding: rem(16);

  position: absolute;
  top: auto;
  right: auto;
  bottom: calc(100% + 24px);
  left: rem(-16);
  z-index: 2000;

  background-color: $tool-tip--bg;

  @include font-size(s);
  color: $tool-tip--color;

  pointer-events: none;

  // properties to animate
  opacity: 0;

  will-change: opacity;

  @include transition(.2s ease);

  &::before {
    content: "";

    display: block;

    width: 0;
    height: 0;

    position: absolute;
    bottom: rem(-16);
    left: rem(16);

    border: {
      width: rem(16) rem(8) 0 rem(8);
      style: solid;
      color: $tool-tip--bg transparent;
    }

    font-size: 0;
  }

  &.-active {
    opacity: 1;
    display: inline-block;
  }

  // SVG ICON
  & .svg-icon {
    color: $tool-tip--icon;
  }
}

// modifier: BOTTOM
.tool-tip.-bottom {
  & .tool-tip--content {
    top: calc(100% + 24px);
    bottom: auto;

    &::before {
      top: rem(-16);
      bottom: auto;
      border-width: 0 rem(8) rem(16) rem(8);
    }
  }
}

// modifier: RIGHT
.tool-tip.-right {
  & .tool-tip--content {
    left:  auto;
    right: rem(-16);

    &::before {
      left:  auto;
      right: rem(16);
    }
  }
}

// modifier: CENTER
.tool-tip.-center {
  margin-left: 50%;

  & .tool-tip--content {
    left: 0;
    @include transform(translateX(-50%));

    &::before {
      margin-left: rem(-8);
      left: 50%;
    }
  }
}
