.tool-tip {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
}

.tool-tip--content {
  display: inline-block;

  width: auto;
  white-space: nowrap;

  padding: rem(16);

  position: absolute;
  top: auto;
  right: auto;
  bottom: calc(100% + 24px);
  left: 0;
  z-index: 2000;

  background-color: rgba($color-grey-darker, .8);

  @include font-size(s);
  color: $color-white;

  pointer-events: none;

  // properties to animate
  opacity: 0;
  @include transform( translateY(rem(-16)));

  will-change:
    opacity,
    transform;

  @include transition(.2s ease);

  &::before {
    content: "";

    display: block;

    width: 0;
    height: 0;

    position: absolute;
    bottom: rem(-16);
    left: rem(16);

    border: {
      width: 0 0 rem(16) rem(16);
      style: solid;
      color: transparent rgba($color-grey-darker, .8);
    }

    font-size: 0;
  }

  &.-active {
    opacity: 1;
    @include transform( translateY(0));
  }

  // modifier: BOTTOM
  .tool-tip.-bottom & {
    top: calc(100% + 24px);
    bottom: auto;

    &::before {
      top: rem(-16);
      bottom: auto;
      border: {
        width: 0 rem(16) rem(16) 0;
        color: rgba($color-grey-darker, .8) transparent;
      }
    }
  }

  // modifier: RIGHT
  .tool-tip.-right & {
    left:  auto;
    right: 0;

    &::before {
      left:  auto;
      right: rem(16);
      border-width: 0 rem(16) rem(16) 0;
    }
  }

  // modifier: BOTTOM RIGHT
  .tool-tip.-bottom.-right & {
    &::before {
      border: {
        width: rem(16) rem(16) 0 0;
        color: transparent rgba($color-grey-darker, .8);
      }
    }
  }

  // SVG ICON
  & .svg-icon {
    color: $color-grey-light;
  }
}
