.hr-card {
  margin-bottom: rem(16);
  padding: rem(16);
  text-align: center;
}

.hr-card--avatar {
  display: block;
  width: 2em;
  height: 2em;
  margin: {
    right: auto;
    left: auto;
  }
  padding-top: .25em;
  border:2px solid;
  @include border-radius(50%);
  @include font-size(xl);
  text-align: center;
  opacity: .7;
}

.hr-card--header {
  @include font-size(xl);
}
.hr-card--sub-header {
  opacity: .7;
}
