
<div class="hr-card--avatar brand-bg">
  {{! will eventually be replaced with a photo
      of the employee - there IS hope}}
  {{svg-icon name="user"}}
</div>
<h1 class="hr-card--header">{{employee.fullName}}</h1>
<p class="hr-card--sub-header">{{t "details.card.subHeader" employer=employment.companyName employmentDuration=employee.lengthOfService}}</p>
