.card {
	@include perspective(1000);
	float: left;
	position: relative;
	//padding: rem(16);
	@include rem(margin, 0, 8);
	text-align: center;
	height: 388px; //needs to be dynamic
	width:256px; //needs to be dynamic
	@include respond(640) {
		background: $color-white;
		border: 1px solid $color-grey-light;
	};
	&__wrap {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		@include transition(all 0.4s);
		@include transform-style(preserve-3d);
		&--flipped {
			@include transform(rotateY(180deg));
		}
	}
	&__front, &__back {
		background: $color-white;
		border: 1px solid $color-grey-light;
		@include backface-visibility(hidden);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 1rem;
		
		@include respond(640) {
			background: none;
			border:0;
			width:50%;
			position: relative;
		};
	}
	&__front {
		z-index: 2;
		@include respond(640) {
			float: left;
		};
	}
	&__back {
		@include transform(rotateY(-180deg));
		overflow: auto;
		@include respond(640) {
			float: right;
			@include transform(rotateY(0deg));
			height:386px;
			-webkit-overflow-scrolling: touch;
		};
	}

}