.nav {
	height:rem(48);
	font-size:0; //fix inline-block white-space
	overflow-y: hidden;
	overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;

	ul {
		//display: flex;
		@include display(flex);
		@include respond(640) {
			@include justify-content(center);
		};
	}
	li {
		display:inline-block;
		font-size:rem(16);
		//flex:1 0 auto;
		@include flex(1 0 0);
		@include respond(640) {
			@include flex(0 0 150px);
		};
	}
	&__link {
		height: rem(48);
		line-height: rem(48);
		width: 100%;
		display: inline-block;
		padding-left:rem(8);
		padding-right:rem(8);
		color: $color-grey-medium;
		text-transform: uppercase;
		font-size:rem(14);
		position: relative;
	}
	&--active {
		border-bottom:3px solid $color-green;
		color: $color-grey-darkest;
	}
}