<div {{bind-attr style=wrapStyles}} {{bind-attr class=":swipe__wrap :swipe--loaded isPanning:swipe--dragging"}}>
  {{yield}}
</div>
{{swipe-tabs
  collection=collection
  selectedIndex=selectedIndex
  tabPropertyKey=tabPropertyKey
  setSelectedIndex="setSelectedIndex"
}}
