<div class="error-page">
  <header class="error-header">
    <div class="error-header--title"></div>
  </header>
  <div class="error-body">
    <h2 class="error-header--sub-title">{{t 'errorSplash.wentWrong'}}</h2>
    <h3 class="error-body--title">{{t 'errorSplash.wentWrongMessage'}}</h3>
  </div>
</div>
