.swipe-item {
  display:  inline-block;
  @include display(inline-flex);
  @include flex-direction(row);
  @include flex-shrink(0);
  @include align-self(stretch);
  position: relative;
  white-space: normal;
  width: 100%;
  margin: 0 0.5em 0 0.1em;

  &.-active {
    z-index: 1;
  }

  > * {
    @include flex-grow(1);
  }
}
