.rota-day {
  margin: {
    top:    0;
    bottom: rem(8);
  }

  position: relative;

  z-index: 0;

  @include font-size(s);
  text-align: left;

  will-change:
    margin-top,
    margin-bottom;
  @include transition(
    margin-top    .25s ease,
    margin-bottom .25s ease
  );

  &.-present {
    font-weight: bold;
  }

  &.-past {
    color: $color-grey;
  }

  &.-active {
    z-index: 1000;
  }
}

.rota-day--overview {
  @include clearfix;
  padding-top: rem(4);
}

.rota-day--row {
  float:      left;
  text-align: left;
}

.rota-day--hours {
  float:      right;
  text-align: right;

  & .svg-icon {
    color: $color-grey;
  }
}
