<div class="edit__form">
  {{#input-field value=model.address1 type='text' placeholder='Address 1' inputId='address1'}}{{/input-field}}
  {{#input-field value=model.address2 type='text' placeholder='Address 2' inputId='address2'}}{{/input-field}}
  {{#input-field value=model.address3 type='text' placeholder='Address 3' inputId='address3'}}{{/input-field}}
  {{#input-field value=model.town type='text' placeholder='Town' inputId='town'}}{{/input-field}}
  {{#input-field value=model.county type='text' placeholder='County' inputId='county'}}{{/input-field}}
  {{#input-field value=model.country type='text' placeholder='Country' inputId='country'}}{{/input-field}}
  {{#input-field value=model.postCode type='text' placeholder='Post code' inputId='postCode'}}{{/input-field}}
  {{#input-field value=model.homeTel type='text' placeholder='Home Phone' inputId='homeTel'}}{{/input-field}}
  {{#input-field value=model.mobileTel type='text' placeholder='Mobile Phone' inputId='mobileTel'}}{{/input-field}}
  {{#input-field value=model.homeEmail type='text' placeholder='Home Email' inputId='homeEmail'}}{{/input-field}}
  {{#input-field value=model.workEmail type='text' placeholder='Work Email ' inputId='workEmail'}}{{/input-field}}
</div>
