{{#with attrs.payslips as payslips }}
  {{#swipe-container
    collection=payslips
    tabPropertyKey="formattedProcessingDate"
    selectedIndex=attrs.selectedIndex
    setSelectedIndex="setSelectedIndex"
    cardSpacing=12
  }}
    {{#each payslips as |payslip index|}}
      {{payslip-card-item payslip=payslip index=index selectedIndex=attrs.selectedIndex}}
    {{/each}}
  {{/swipe-container}}
  <div class="payslip__breakdown">
    <h2>{{t 'payslips.historic'}}</h2>
    {{payslips-time-chart
      payslips=payslips selectedIndex=attrs.selectedIndex setSelectedIndex="setSelectedIndex"}}
  </div>
{{/with}}
