<span class="loading-spinner--spinner">
  <span class="loading-spinner--side -left">
    <span class="loading-spinner--solid -left brand-bg"></span>
  </span>
    <span class="loading-spinner--side -right">
  <span class="loading-spinner--solid -right brand-bg"></span>
  </span>
</span>

<small class="loading-spinner--text">loading</small>