.tabbed-container {
  @include display(flex);
  @include align-items(stretch);
  border-bottom: rem(1) solid $color-grey-light;
  cursor: pointer;
  height: rem(40);

  &__tab {
    @include flex(1 0 auto);
    @include position(relative);
    @include transition(all 500ms ease);
    background-color: $color-white;
    color: $color-grey;
    line-height: rem(40);
    text-align: center;

    &::after {
      @include position(absolute, auto 0 0 0);
      @include border-radius(rem(2));
      @include transition(all 500ms ease);
      @include display(block);
      content: '';
      height: rem(4);
    }

    &--active {
      @include transition(all 500ms ease);
      color: $color-grey-darkest;

      &::after {
        @include transition(all 500ms ease);
        background-color: $color-grey-darker;
      }
    }

    &__content {
      padding: rem(16);
    }
  }
}