.flip-card {
  display: block;
  position: relative;
}

.flip-card--wrap {
  @include display(flex);
  height: 100%;
  border: 1px solid $color-grey-lighter;
}

.flip-card--front,
.flip-card--back {
  display: block;
  width: 50%;
  height: 100%;
  float: left;
  padding: rem(16);
  background-color: $color-white;
  // no longer have a default overflow rule on cards - these can be set in use
  -webkit-overflow-scrolling: touch;
  @include hidden-scrollbars;
}

// modifier: SIDE-BY-SIDE
.flip-card.-side-by-side {
  background-color: $color-white;

  .flip-card--front,
  .flip-card--back {
    display: block;
    width: 50%;
    float: left;
    position: static;
    @include backface-visibility(hidden);
  }
  .flip-card--back {
    @include transform(rotateY(0));
  }

  .flip-card--trigger {
    display: none;
  }
}

// modifier: FLIPPABLE
.flip-card.-flippable {
  background-color: transparent;
  @include perspective(1000);

  .flip-card--wrap {
    border: none;
    @include transform-style(preserve-3d);
  }
  .flip-card--front,
  .flip-card--back {
    @include transition-property(transform);
    @include transition-duration(.4s);
    @include backface-visibility(hidden);
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-white;
    border: 1px solid $color-grey-lighter;
  }
  .flip-card--front {
    z-index: 2;
  }
  .flip-card--back {
    display: none;
    @include transform(rotateY(-180deg));
  }

  // animating gets programatically set when we're animating (via transition)
  // and programatically removed when the transition is done
  &.-animating {
    .flip-card--front, .flip-card--back {
      display: block !important;
    }
  }

  // modifier: FLIPPED
  &.-flipped {
    .flip-card--front {
      display: none;
      @include transform(rotateY(180deg));
    }
    .flip-card--back {
      display: block;
      z-index: 2;
      @include transform(rotateY(0deg));
    }
  }
}
