.flip-card,
.flip-card--wrap,
.flip-card--front,
.flip-card--back {
  display: block;
}

.flip-card,
.flip-card--wrap {
  width: 100%;
  height: 100%;
}

.flip-card--wrap {
  position: relative;
}

.flip-card--front,
.flip-card--back {
  height: 100%;
  padding: rem(16);
  overflow: auto;
  @include hidden-scrollbars;
}


// modifier: FLIPPABLE
.flip-card.-flippable {
  @include perspective(1000);

  .flip-card--wrap {
    position: relative;
    @include transform-style(preserve-3d);
  }

  .flip-card--front,
  .flip-card--back {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:$color-white;
    border: 1px solid $color-grey-lighter;
    @include backface-visibility(hidden);

    will-change: transform;
    @include transition(transform .4s ease);
  }
  .flip-card--front {
    z-index: 2; // required for firefox
    @include transform(rotateY(0deg));
  }
  .flip-card--back {
    @include transform(rotateY(-180deg));
  }

  // modifier: FLIPPED
  &.-flipped {
    .flip-card--front {
      @include transform(rotateY(180deg));
    }
    .flip-card--back {
      @include transform(rotateY(0));
    }
  }
}

// modifier: SIDE-BY-SIDE
.flip-card.-side-by-side {

  .flip-card--wrap {
    background-color:$color-white;
    border: 1px solid $color-grey-lighter;
  }
  .flip-card--front,
  .flip-card--back {
    width: 50%;
    float: left;
  }

  .payslip-overview--show-breakdown {
    display: none;
  }
}
