.details {
  background:#eee;
  padding: .1rem;
  @include respond(800) {
    @include display(flex);
    height:100vh;
    padding-top:rem(48);
    position: absolute;
    top:0;
    width:100%;
  }
}

.details--employee, .details--employer, .details--employment {
    @include flex(1);
    background:$color-white;
    border:1px solid $color-grey-light;
    margin:1rem;
    padding:1rem;
    overflow: auto;
}

.details--employee {
  @include respond(800) {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}

.details--employer {
  @include respond(800) {
    margin-right: 0.5rem;
  }
}

.details--employment {
  @include respond(800) {
    margin-right: 0.5rem;
  }
}
