{{#swipe-container
   collection=attrs.rotaWeeks
   tabPropertyKey="formattedDateRange"
   selectedIndex=attrs.selectedIndex
   setSelectedIndex="setSelectedIndex"
   isPanning=attrs.isPanning
}}
  {{#each attrs.rotaWeeks as |rotaWeek index|}}
    {{#swipe-item index=index selectedIndex=attrs.selectedIndex}}
      <div class="card">
        {{rota-week
         week=rotaWeek
         shifts=rotaWeek.shifts
         selectedShift=attrs.selectedShift
         selectTarget=this
         index=index
         selectedIndex=attrs.selectedIndex
        }}
      </div>
    {{/swipe-item}}
  {{/each}}
{{/swipe-container}}
{{swipe-tabs
  collection=attrs.rotaWeeks
  selectedIndex=attrs.selectedIndex
  tabPropertyKey="formattedDateRange"
  setSelectedIndex="setSelectedIndex"
  cssNamespace="-rota"
}}

{{holiday-info info=attrs.holiday}}
